<h3>Create an Account!</h3>

<form class="ui form" [formGroup]="authForm">

    <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
    <app-input inputType="password" label="Password Confirmation" [control]="authForm.get('passwordConfirmation')"></app-input>

    
    <div *ngIf="showPasswordErrors()" class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDontMatch">
            Password and Password confirmation must match
        </p>
    </div>
    
    {{ authForm.errors | json }}
    
    <hr />

    <div>
        <button ngClass="{disabled: authForms.errors}" class="ui subimt button primary">Submit</button>
        <button class="ui subimt button warning">Reset</button>
    </div>

</form>

